* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
width: 300px;
margin: 30vh auto;
border: 1px solid black;
padding: 20px;
}

.display {
  border: 1px solid black;
  padding: 30px 10px;
  text-align: right;
}

.input-container-flex {
display: flex;
flex-direction: row;
}

.number-container-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 200px;
}

.number-box {
  border: 1px solid black;
  width: 40px;
  height: 40px;
  margin: 10px 10px 10px 0px;
  padding: 10px;
  text-align: center;
}

.operator {
  border: 1px solid black;
  height: 34px;
  width: 80px;
  margin: 10px;
  padding: 7px;
  text-align: center;
}
